# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Android Captures and Native Build
captures/
.externalNativeBuild/
.cxx/

# APK / Bundle / Proguard
*.apk
*.ap_
*.dex
*.aab
app/build/
app/release/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotenqueue

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Backup/Editor files
*.bak
*.swp
*~
*.tmp
*.temp
